.villa {
    width: 100%;
    background-image: url(./img/Rectangle_414.png);
    background-position: top left -150px;
    background-repeat: no-repeat;
    font-family: "Josefin Sans";
    display: flex;
    justify-content: center;
    .villa__container {
      width: 1110px;
      padding: 230px 0 100px 0;
      .content {
        background-color: #232323;
        opacity: 0.9;
        width: 540px;
        .content__text {
          padding: 50px 30px;
  
          .title {
            color: #e8e8e8;
            font-size: 20px;
            font-weight: 400;
          }
          .subtitle {
            color: #ffffff;
            font-size: 20px;
            font-weight: 400;
            text-transform: uppercase;
            padding: 30px 0;
          }
          .description {
            color: #e8e8e8;
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
          }
        }
        .button {
          display: flex;
          padding: 0 0 50px 30px;
  
          .button__container a {
            padding: 22px 65px;
            background-color: #5474fd;
            background-image: url(./img/button.png);
            background-repeat: no-repeat;
            color: #ffffff;
            font-size: 16px;
            font-weight: 400;
            text-transform: uppercase;
            text-decoration: none;
          }
        }
      }
    }
  }